.wrapper {
  .side {
    .side-header {
      background-color: #253141;
    }
    .groups {
      background-color: #2f3e51;
    }
  }
  .main {
    .main-header {
      background-color: #fafafa;
    }
    .messages {
      background-color: #fafafa;
    }
    .form {
      background-color: #434A54;
    }
  }
}